form {
    display: flex;
    gap: .5rem;
    margin-bottom: 1rem;;
}

input {
    padding: .25rem .5rem;
    border-radius: .5rem;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

button {
    border-radius: .5rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 2rem;
    aspect-ratio: 1;
}

i {
    width: auto;
}